<h1>Welcome to Gym Tracker</h1>
<h2> This is meant to help keep track of "recent gyms" for MewTwo Raids </h2>
<ul>
  <li><%= link_to 'View Existing Gyms', gym_infos_path %></li>
  <li>Map New Gyms with <%= link_to 'GeoLocation', new_gym_info_path %> or Manually</li>
  <li>View <%= link_to 'My Recent Raids', my_raids_path %></li>
  <li><%= link_to 'Add Recent Raids', add_gym_raids_path %> </li>
</ul>
